body {
    resize: both;
    overflow: auto;
    text-align: center;
  }

.justify{
    text-align: justify;
}

footer{
    display: table;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    resize: both;
    overflow: auto;
}

nav {
    resize: both;
    overflow: auto;
  }

.it{
    font-style: italic;
    font-size: small;
}

li{
    text-align: left;
}

.a{
    text-align: left;
    font-style: bold;
    text-decoration: underline;
}